:root {
    /* Tamaños generales */
    --tamanyo-marco: min(75vw, 80vh);
    --tamanyo-tablero: min(71vw, 76vh);
    --tamanyo-casilla: calc(var(--tamanyo-tablero) / 8);
    /* Tamaños de fuentes */
    --tamanyo-fuente-pieza: calc(var(--tamanyo-casilla) * 0.8);
    --tamanyo-fuente-numeracion: calc(var(--tamanyo-casilla) * 0.45);
    /* Espaciados */
    --espaciado-numeracion: 1.5vw;
    --espaciado-numeracion-pequeno: calc(var(--tamanyo-marco) * 0.035);
    /* Posicionamiento */
    --posicion-pieza: calc(var(--tamanyo-casilla) * 0.35);
    /* Estilos generales */
    --radio-borde: 10px;
    --sombra-marco: 0px 4px 10px rgba(0, 0, 0, 0.5);
    /* Colores */
    --color-marco: #FF1493;
    --color-casilla-blanca: #f8cbe1;
    --color-casilla-negra: #f37db0;
    --color-fondo: #efbcee;
    --color-piezas: black;
    --color-piezas-hover: rgba(0, 0, 0, 0.4);
    --color-casilla-seleccionable: #d22e80;
}

@font-face {
    font-family: "rocktown";
    src: url(../assets/fonts/GentyDemo-Regular.ttf);
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--color-fondo);
}

#contenedor {
    display: grid;
    grid-template-columns: 22% 1fr 22%;
    height: 100vh;
    width: 100vw;
}

.lados {
    display: grid;
    grid-template-rows: 30% 1fr;
    width: 100%;
    height: 100%;
}

.contadores {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "rocktown";
    font-size: calc(var(--tamanyo-casilla) * 0.65);
}

#contador-blancas {
    color: white;
}

p {
    -webkit-text-stroke: #d22e80 calc(var(--tamanyo-fuente-numeracion) / 14);
}

.pieza {
    font-size: var(--tamanyo-fuente-pieza);
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    color: var(--color-piezas);
    position: absolute;
    bottom: var(--posicion-pieza);
    transition: opacity 0.3s ease-in-out;
}

.pieza:hover {
    opacity: 0.4;
    cursor: grab;
}

.pieza:active,
.tablero:active {
    cursor: grabbing;
}

.numeracion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.numeracion-fila {
    padding-bottom: 25px;
}

.numeracion-columna {
    padding-right: 25px;
}

.numeracion-columna,
.numeracion-fila {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contiene-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

#numeracion-casillas {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: var(--espaciado-numeracion-pequeno) var(--espaciado-numeracion) repeat(8, var(--tamanyo-casilla)) var(--espaciado-numeracion);
    grid-template-rows: var(--espaciado-numeracion-pequeno) var(--espaciado-numeracion) repeat(8, var(--tamanyo-casilla)) var(--espaciado-numeracion);
    width: var(--tamanyo-marco);
    height: var(--tamanyo-marco);
    font-family: "rocktown";
    font-size: var(--tamanyo-fuente-numeracion);
    color: var(--color-marco);
}

#marco {
    grid-column: 2 / 10;
    grid-row: 2 / 10;
    display: flex;
    width: var(--tamanyo-marco);
    height: var(--tamanyo-marco);
    background-color: var(--color-marco);
    justify-content: center;
    align-items: center;
    border-radius: var(--radio-borde);
    box-shadow: var(--sombra-marco);
}

.tablero {
    display: grid;
    grid-template-columns: repeat(8, var(--tamanyo-casilla));
    grid-template-rows: repeat(8, var(--tamanyo-casilla));
    width: var(--tamanyo-tablero);
    height: var(--tamanyo-tablero);
}

.casilla {
    width: var(--tamanyo-casilla);
    height: var(--tamanyo-casilla);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.casilla-blanca {
    background-color: var(--color-casilla-blanca);
}

.casilla-negra {
    background-color: var(--color-casilla-negra);
}

.casilla-seleccionable {
    background-color: var(--color-casilla-seleccionable);
}

#fila-A {
    grid-column: 3 / 4;
}

#columna-8 {
    grid-row: 3 / 4;
}

#columna-7 {
    grid-row: 4 / 5;
}

#columna-6 {
    grid-row: 5 / 6;
}

#columna-5 {
    grid-row: 6 / 7;
}

#columna-4 {
    grid-row: 7 / 8;
}

#columna-3 {
    grid-row: 8 / 9;
}

#columna-2 {
    grid-row: 9 / 10;
}

#columna-1 {
    grid-row: 10 / 11;
}

#A8 {
    border-top-left-radius: var(--radio-borde);
}

#H8 {
    border-top-right-radius: var(--radio-borde);
}

#A1 {
    border-bottom-left-radius: var(--radio-borde);
}

#H1 {
    border-bottom-right-radius: var(--radio-borde);
}